/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: shortcuts */
.container{width:100%;}
@media (min-width: 640px){
.container{max-width:640px;}
}
@media (min-width: 768px){
.container{max-width:768px;}
}
@media (min-width: 1024px){
.container{max-width:1024px;}
}
@media (min-width: 1280px){
.container{max-width:1280px;}
}
@media (min-width: 1536px){
.container{max-width:1536px;}
}
/* layer: default */
.pointer-events-none{pointer-events:none;}
.relative{position:relative;}
.block{display:block;}
.after\:block::after{display:block;}
.aspect-square{aspect-ratio:1/1;}
.h-4{height:1rem;}
.h-5{height:1.25rem;}
.h-6{height:1.5rem;}
.h-full{height:100%;}
.min-h-screen{min-height:100vh;}
.min-w-screen{min-width:100vw;}
.w-11{width:2.75rem;}
.w-4{width:1rem;}
.w-5{width:1.25rem;}
.w-full{width:100%;}
.after\:h-\[8px\]::after{height:8px;}
.after\:w-\[8px\]::after{width:8px;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.flex-1{flex:1 1 0%;}
.shrink-0{flex-shrink:0;}
.flex-row{flex-direction:row;}
.data-\[orientation\=vertical\]\:flex-col[data-orientation=vertical],
.flex-col{flex-direction:column;}
.flex-wrap{flex-wrap:wrap;}
.data-\[state\=checked\]\:translate-x-5[data-state=checked]{--un-translate-x:1.25rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.data-\[state\=unchecked\]\:translate-x-0[data-state=unchecked]{--un-translate-x:0;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
@keyframes fade-in{
          from { opacity: 0; }
          to { opacity: 1; }
        }
@keyframes fade-out{
          from { opacity: 1; }
          to { opacity: 0; }
        }
.data-\[state\=closed\]\:animate-fade-out[data-state=closed]{animation:fade-out 0.3s ease-in-out 1;}
.data-\[state\=open\]\:animate-fade-in[data-state=open]{animation:fade-in 0.3s ease-in-out 1;}
.cursor-pointer{cursor:pointer;}
.disabled\:cursor-not-allowed:disabled{cursor:not-allowed;}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.gap-10{gap:2.5rem;}
.gap-5{gap:1.25rem;}
.gap-x-2{column-gap:0.5rem;}
.gap-y-10{row-gap:2.5rem;}
.gap-y-5{row-gap:1.25rem;}
.whitespace-nowrap{white-space:nowrap;}
.border{border-width:1px;}
.border-2{border-width:2px;}
.border-neutral-100{--un-border-opacity:1;border-color:rgb(245 245 245 / var(--un-border-opacity));}
.border-neutral-600{--un-border-opacity:1;border-color:rgb(82 82 82 / var(--un-border-opacity));}
.border-transparent{border-color:transparent;}
.focus-within\:border-neutral-100:focus-within{--un-border-opacity:1;border-color:rgb(245 245 245 / var(--un-border-opacity));}
.rounded-full{border-radius:9999px;}
.rounded-md{border-radius:0.375rem;}
.rounded-sm{border-radius:0.125rem;}
.after\:rounded-\[50\%\]::after{border-radius:50%;}
.bg-neutral-800,
.data-\[state\=on\]\:bg-neutral-800[data-state=on],
.data-\[state\=unchecked\]\:bg-neutral-800[data-state=unchecked]{--un-bg-opacity:1;background-color:rgb(38 38 38 / var(--un-bg-opacity));}
.bg-neutral-950{--un-bg-opacity:1;background-color:rgb(10 10 10 / var(--un-bg-opacity));}
.bg-transparent{background-color:transparent;}
.data-\[state\=checked\]\:bg-neutral-100[data-state=checked]{--un-bg-opacity:1;background-color:rgb(245 245 245 / var(--un-bg-opacity));}
.hover\:bg-neutral-800:hover{--un-bg-opacity:1;background-color:rgb(38 38 38 / var(--un-bg-opacity));}
.disabled\:hover\:bg-transparent:hover:disabled{background-color:transparent;}
.after\:bg-neutral-100::after{--un-bg-opacity:1;background-color:rgb(245 245 245 / var(--un-bg-opacity));}
.p-1{padding:0.25rem;}
.p-20{padding:5rem;}
.p-5{padding:1.25rem;}
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.py-1{padding-top:0.25rem;padding-bottom:0.25rem;}
.text-nowrap{text-wrap:nowrap;}
.text-lg{font-size:1.125rem;line-height:1.75rem;}
.text-xl{font-size:1.25rem;line-height:1.75rem;}
.data-\[state\=checked\]\:text-neutral-950[data-state=checked]{--un-text-opacity:1;color:rgb(10 10 10 / var(--un-text-opacity));}
.text-current{color:currentColor;}
.text-neutral-100{--un-text-opacity:1;color:rgb(245 245 245 / var(--un-text-opacity));}
.text-neutral-200{--un-text-opacity:1;color:rgb(229 229 229 / var(--un-text-opacity));}
.text-neutral-400{--un-text-opacity:1;color:rgb(163 163 163 / var(--un-text-opacity));}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity));}
.focus-within\:text-neutral-100:focus-within{--un-text-opacity:1;color:rgb(245 245 245 / var(--un-text-opacity));}
.hover\:text-neutral-100:hover{--un-text-opacity:1;color:rgb(245 245 245 / var(--un-text-opacity));}
.hover\:text-neutral-400:hover{--un-text-opacity:1;color:rgb(163 163 163 / var(--un-text-opacity));}
.disabled\:hover\:text-neutral-100:hover:disabled{--un-text-opacity:1;color:rgb(245 245 245 / var(--un-text-opacity));}
.disabled\:opacity-50:disabled{opacity:0.5;}
.shadow-lg{--un-shadow:var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.outline-none{outline:2px solid transparent;outline-offset:2px;}
.focus\:outline-none:focus{outline:2px solid transparent;outline-offset:2px;}
.focus-visible\:outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px;}
.ring-0{--un-ring-width:0px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.focus-visible\:ring-2:focus-visible{--un-ring-width:2px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.focus-visible\:ring-offset-2:focus-visible{--un-ring-offset-width:2px;}
.focus-visible\:ring-neutral-100:focus-visible{--un-ring-opacity:1;--un-ring-color:rgb(245 245 245 / var(--un-ring-opacity));}
.focus-visible\:ring-neutral-400:focus-visible{--un-ring-opacity:1;--un-ring-color:rgb(163 163 163 / var(--un-ring-opacity));}
.ring-offset-neutral-950{--un-ring-offset-opacity:1;--un-ring-offset-color:rgb(10 10 10 / var(--un-ring-offset-opacity));}
.focus-visible\:ring-offset-neutral-950:focus-visible{--un-ring-offset-opacity:1;--un-ring-offset-color:rgb(10 10 10 / var(--un-ring-offset-opacity));}
.transition-colors{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-transform{transition-property:transform;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.duration-300{transition-duration:300ms;}
.after\:content-\[\'\'\]::after{content:'';}